* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    line-height: 1;
}

.content{
    background: linear-gradient(to left, #8942a8, #ba382f);
    height: 100%;
}

tbody {
    display: block;
    height: 500px;
    overflow: auto;
}

thead,
tbody tr {
    border-color: orange;
    color: white;
    display: table;
    width: 100%;
    table-layout: fixed;
    /* even columns width , fix width of table too*/
}

thead {
    width: calc(100% - 1em)
        /* scrollbar is average 1em/16px width, remove it from thead width */
}

table {
    width: 400px;
}

td {
    vertical-align: middle;
}

ul {
    list-style: none;
}

.home{
    position: absolute;
    top: 20px;
    left:20px;
    font-size: 30px;
}